@import './components/colors';
@import './components/fonts';
@import './components/sizeImage';
@import './components/buttons';
@import './sections/background';
@import './sections/footer';
@import './sections/main';
@import './sections/navBar';
@import './sections/section1.scss';
@import './sections/section2.scss';
@import './sections/section3.scss';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
