.footer__background {
    background-color: #34332c;
}

.footer__address {
    margin-left: 1rem;
    margin-top: 1rem;

    p {
        color: $font-color;
    }
}

li {
    list-style: none;

}

.footer__nav {
    a {

        img {
            margin-top: 2rem;
            margin-left: 1rem;
        }

    }

    .button__display {
        display: flex;
        justify-content: start;
        margin-left: 1rem;
    }
}


.footer__nav_display {
    display: flex;
    flex-wrap: wrap;

    li {
        list-style: none;
        margin: 1rem;

        a {
            text-decoration: none;
            color: $font-color;
            font-weight: 500;
            font-size: 0.8rem;


        }

    }
}

.footer__reservation-button {
    height: 3rem;
    margin-top: 1.5rem;

}


@media only screen and (min-width: 1300px) {
    .footer__background {


        .footer__nav {
            display: flex;
            justify-content: space-between;

            a {
                margin-top: 1.5rem;
            }

            .footer__reservation-button {
                height: 3rem;
                margin-top: 1.5rem;

            }

            .button__display {
                margin-top: 2rem;
            }

            .footer__nav_display {
                display: flex;
                justify-content: center;
                margin-top: 2rem;

                li {
                    list-style: none;
                    margin: 2rem;

                    a {
                        text-decoration: none;
                        color: $font-color;
                        font-weight: 500;
                        font-size: 0.8rem;

                        &:hover {
                            color: $button-color;
                        }
                    }

                }
            }
        }
    }


    li {
        margin: 2rem;
    }

    .social-media {
        justify-content: flex-end;
    }

    .footer__address {
        margin-top: 2rem;

        .address {
            margin-top: 0.7rem;
        }
    }
}