@media only screen and (max-width: 1099px) {
    .icons {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 2rem;
            row-gap: 2rem;

            li {
                list-style: none;
                margin: 1rem;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                height: 4rem;
                line-height: 2rem;


                .icon-8 {
                    margin-top: 0.5rem;
                }

                .icon-3 {
                    margin: 0 auto;
                }

                .icon-6 {
                    margin: 0 auto;
                }


            }
        }


    }

}


@media only screen and (min-width: 1100px) {
    .icons {
        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;

            li {
                list-style: none;
                margin: 2rem;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                height: 4rem;
                line-height: 2rem;


                .icon-8 {
                    margin-top: 0.5rem;
                }

                .icon-3 {
                    margin: 0 auto;
                }

                .icon-6 {
                    margin: 0 auto;
                }



                p {
                    font-size: 13px;
                    border-bottom-color: $border-icon-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    margin: 0 0 10px;
                    padding: 0 0 10px;

                    &:hover {
                        background-color: $button-color;
                        color: $font-color;
                        cursor: pointer;

                    }
                }


            }


        }
    }

}